<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--  Fragments CDN  -->

    <!-- Common css   -->
    <link href="css/common.css"  rel="stylesheet">
</head>
<body>

    <div class="wrapper">
        <header>
            <div class="top-header"></div>
            <nav></nav>
        </header>
        <main>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
        </main>
        <footer>
        </footer>
    </div>



    <!-- JS  -->
    <script src="js/common.js"></script>
</body>
</html>