.imageBlock{

    height : 100vh;
    display:flex;
    justify-content:center;
    align-item:center;
}
.imageBlock>*{
    margin : 50px;
    border : 1px solid gray;
}


.imageBlock>.left{
    width : 400px;
    height : 400px;
}
.imageBlock>.right{}
.imageBlock>.right>input{}